<!-- QUESTIONS SECTION -->
<h3>Question: <%= @question.title %></h3>

<!-- DELETE QUESTION -->
<%= link_to 'Destroy question', question_path, method: :delete, data: {confirm: 'Are you sure?'} %>

<!-- EDIT QUESTION -->
<%= link_to 'Edit question', edit_question_path %>

<% @question.answers.each do |answer| %>
  <p>
    <% if answer.user != nil %>
      <em><%= answer.user.email %></em>
      answered on <%= answer.created_at.strftime("%d %b. %Y %H:%M") %><br>
      <%= answer.body %><hr>
    <% end %>
  </p>
<% end %>



<!-- ANSWERS SECTION -->
<% if current_user %>

  <%= form_for([@question, @answer]) do |f| %>
    
    <% if @answer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this review from being saved: </h2>

        <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<!-- COMMENT BOX -->
    <div class="field">
      <%= f.label :comments? %><br>
      <%= f.text_area :body %>
    </div>

    <div class="actions">
      <%= f.submit "answer" %>
    </div>
  <% end %>

<!-- MUST SIGN IN TO LEAVE A COMMENT -->
<% else %>
  <p><%= link_to "comment", new_session_path %> </p>
<% end %>


<%= link_to 'Back', root_path %>

