<h1 class="main-title">Sign Up ?</h1>

<%= form_for @user do |f|  %>
  <% if @user.errors.any? %>
    
    <div class="error messages"> 
      <% for message in @user.errors.full_messages %>
        <h5 class="alert alert-info"><%= message %></h5>
      <% end %>
    </div>
  
  <% end %>
    
  <form>
    <div class="form-group">
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control askme-form-control", placeholder: "Enter email" %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control askme-form-control", placeholder: "Password" %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control askme-form-control", placeholder: "Confirm password" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "submit", class: 'btn btn-primary login-btn' %>
    </div>
  </form>
<% end %>