<!-- Question Box -->
<h1 class="ask-me">ask me</h1><hr>
<p class="tagline">usually answered in minutes!</p>


<%= form_for :question, url: questions_path do |f| %>
  <div class="row">
    <div class="input-group">
      <%= f.label :Questions?, class: 'questions-field' %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Search for..." %>
      
      <span class="input-group-btn">
        <%= f.submit "submit", class: 'btn btn-default' %>    
      </span>
    </div><!-- /input-group -->
  </div><!-- /row -->
<% end %>


<!-- listing articles -->
 
<% @questions.each do |question| %>
  <div class="author">
    <em><%= question.user.email %></em><br>
  </div>
  
  <div class="question-title">
    <%= link_to question.title, question_path(question) %>
  </div>
<% end %>