<!DOCTYPE html>
<html>
<head>
  <title>Askme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body>

<div class="container-fluid">
  <!--  NAVBAR -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to image_tag("ask-logo-01.png"), root_url, class: 'nav-bar-link brand-image' %>
      </div>
      
      <div class="collapse navbar-collapse">               
        <div class="navbar-text navbar-right askme-navbar-text">
          <% if current_user %>
            Hi <%= current_user.email %> | <%= link_to 'log out', session_path('current'), :method => :delete %>
          <% else %>
            <%= link_to 'log in', new_session_path %> or <%= link_to 'sign up', new_user_path %>
          <% end %>
        </div>
  
      </div>
    </div>
  </nav>
  <!--  NAVBAR -->

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <!--  NOTICE AND ALERTS -->
      <% if flash[:notice] %>
        <p id="notice" class="alert alert-info"><%= flash[:notice] %></p>
      <% end %>

      <% if flash[:alert] %>
        <p id="alert" class="alert alert-danger"><strong>Oh snap!</strong> <%= flash[:alert] %></p>
      <% end %>
      <%= yield %>
    </div>  
  </div>
</div>

</body>
</html>
